GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID_HERE
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET_HERE
REDIRECT_URI=YOUR_REDIRECT_URI_HERE
LDAP_URL=YOUR_LDAP_URL_HERE
LDAP_BASE_DN=YOUR_LDAP_BASE_DN_HERE
DATABASE_URL=YOUR_DATABASE_URL_HERE
CORS_ORIGIN=YOUR_CORS_ORIGIN_HERE
WEB_DIR=build/web
