GITHUB_CLIENT_ID=Iv23li9PMJlRJ1KJyIVJ
GITHUB_CLIENT_SECRET=your_github_client_secret_here
REDIRECT_URI=http://localhost:5000/auth
LDAP_URL=ldap://ldap.loc.adobe.net
LDAP_BASE_DN=o=adbe
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/capability_dashboard
CORS_ORIGIN=http://localhost:5000
WEB_DIR=build/web
